*{
    box-sizing: border-box;
}

body{
    background-color:  #E5E5E5;
}
header{
    z-index: 3;
    position: fixed;
    left: 0px;
    
    top: 0px;
    width: 100%;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header h1 {
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

.perguntas-container{
    width: 100%;
    height: auto;
    margin-top: 320px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.fundo-quizz{
    list-style: none;
    width: 100%;
    
    position: fixed;
    left: 0;
    top: 65px;

    height: 230px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
    background-position:  center;
    background-size: 90% auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    z-index: 3;
}

.fundo-quizz h2{
    font-weight: 400;
    font-size: 34px;
    line-height: 46px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;

    text-align: center;
    margin-bottom: 100px ;
    z-index: 3;
}

.pergunta,
.fim-do-quizz{
    width: 759px;
    height: auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #FFFFFF;
    margin-bottom: 35px;
    

    padding: 10px;

}

.pergunta img{
    width: 320px;
    height: 175px;
    margin-bottom: 5px;
}

.imagens-respostas{
    width: 740px;
    margin-left: 8px;
    height: auto;
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.imagens-respostas div{
    width: 330px;
    height: 184px;
    /* background-color: #000000; */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    justify-content: space-between;
    margin-bottom: 30px;
}

.fim-do-quizz img{
    width: 364px;
    height: 273px;
}

.texto-nivel{
    margin-top: -20px;
    display: flex;
    padding: 25px;
    /* align-items: center; */
    justify-content: center;
}

.texto-nivel p {
    margin-top: -1px;
    margin-left: 15px;

    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;

    color: #484848;
}

.imagens-respostas p{
    width: 300px;
    height: 35px;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    margin-top: -1px;
}

.texto-pergunta,
.texto-desempenho{
    width: 690px;
    height: 98px;

    background-color: #EC362D;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.texto-pergunta p,
.texto-desempenho p{
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color: #FFFFFF;

    font-weight: 400;
}

.certa{
    color: #009C22;
}
.errada{
    color: #EC362D;
}

.selecionada{
    opacity: 1;
}

.resposta-nao-selecionada{
    filter: contrast(200%);
    filter: blur(1px);
    opacity: 0.5;
    z-index: 1;
}

.escondido{
    display: none;
}

.botoes-fim{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reiniciar{
    width: 260px;
    height: 52px;
    border-radius: 15px;
    border: none;
    background-color: #EC362D;
    color: #FFF5F4;
    font-size: 21px;
    font-weight: 400;
}

.home{
    width: 220px;
    height: 44px;
    font-size: 21px;
    font-weight: 400;

    background-color: #E5E5E5;
    color: #818181;
    border: none;
    margin-top: 8px;
    margin-bottom: 25px;
}

.loading{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 4;

}

.loading img{
    margin-top: 25%;
    margin-left: 42%;
}