
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
body{
    width: 100%;
    height: 100vh;
    background: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
}
body::-webkit-scrollbar{
    height: 0;
    width: 0;
}
header{
    z-index: 3;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header h1 {
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}
section{
    margin:100px 17px 0 17px;
}
article{
    width: inherit;
    height: 181px;
    border: 1px dashed #d4d4d4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
article p{
    width: 250px;
    height: 107px;

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #B9B9B9;
}
article button{
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    color: #EC362D;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}
section > p{
    width: inherit;
    height: 23px;
    margin-top: 35px;
    margin-bottom: 14px;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}
main{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: start;

    gap: 21px;

}
main .card{
    list-style: none;
    width: 340px;
    
    height: 181px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url('https://lumiere-a.akamaihd.net/v1/images/original_1628718691_los-simpson---star_-_3_e73a2761.jpeg?region=0,95,1300,1300.png');
    border-radius: 5px;
    background-position:  center;
    background-size: 340px 181px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
main .card > p {
    height: 54px;
    width: 255px;

    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}

@media (min-width: 340px) {
    main .card{
        width: 340px;
    }
    main .card > p {
        width: 309px;
        font-size: 19px;
    }
}

@media (min-width: 1100px) {
    section{
        width: 1050px;
        margin: 140px 0 0 0;

    }
    main{
        column-gap: 15px;
        row-gap: 12px;
    }
}